/*.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
*/
/*
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

/*Para dar especificaciones generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
}
/*Para la tipografia de letra en todo el body*/
body{
    font-family: "Poppins", sans-serif;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px ;
    margin: 0 auto;
    
}

.header{
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: #e6ccb2;
    padding: 70px 0;
} 

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 25px;
    color: #683c1f;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #5a0609;
    display: block;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu{
    position: relative; 
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display:block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #c98025;
    padding: 20px;
    min-width: 400px;

}

table{
    width: 100%;
}

th, td{
    color: rgb(173, 111, 30);
}

.borrar{
    background-color: aqua;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: chartreuse;
    font-weight: 800;
    cursor: pointer;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img{
    flex-basis: 50%;
    text-align: center;
}

.header-txt{
    flex-basis: 50%;
    text-align: center;
}

.header-txt h1{
    font-size: 80px;
    text-transform: uppercase;
    line-height: 1;
    color: crimson;
    font-family: "Oswald", sans-serif;
    margin-bottom: 15px;

}

.header-txt p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: rgb(161, 92, 226);
    color: #5a0609;
    border-radius:5px ;
}

.ofert{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between ;
}

.ofert-1{
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: rgb(209, 171, 128);
    padding: 35px ;
}

.ofert-img{
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-img img{
    width: 250px;
}

.ofert-txt{
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3{
    color: #5a0609;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btn-2{
    display: inline-block;
    padding: 7px 10px;
    background-color: #683c1f;
    color: #ddb892;
    border-radius: 5px;
    font-size: 15px;
}

.products{
    padding: 50px 0;
    text-align: center;
}

.products h2{
    color: #c98025;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.product-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.product{
    text-align: center;
    padding: 30px;
    box-shadow:  0 0 30px rgb(160, 83, 32);
}

.product img{
    width: 250px;
    height: 370px;
    margin-bottom: 20px;
}

.product h3{
    font-size: 20px;
    color: #5a0609;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product p, .precio{
    font-size: 15px;
    color: #b94e1c;
    margin-bottom: 15px;
}

.precio{
    font-weight: 800;
}

.icons{
    padding: 50px 0 10px 0;
    display: flex;
    justify-content: space-between;
}

.icon-1{
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: rgba(146, 68, 15, 0.514);
}

.icon-txt h3{
    font-size: 20px;
    color: #380507;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.icon-txt p{
    font-size: 16px;
    color: #5a0609;
}

.blog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog-1{
    flex-basis: calc(33.3% - 30px);
}

.blog-1 img{
    margin-bottom: 20px;
}

.blog-1 h3{
    font-size: 20px;
    color: #380507;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-1 p{
    font-size: 16px;
    color: #380507;
}

.footer{
    padding: 50px 0;
    background-color: #b9821d;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: #380507;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a{
    font-size: 16px;
    color: #5a0609;
    margin-bottom: 10px;
}
/*Responsive*/

@media (max-width:991px){

    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #c64b0d;
        display: none;
        /*opacity: 0.8;*/
    }

    .menu .navbar ul li{
        width: 100%;
    }

    .menu ul li{
        color: aqua;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .logo{
        display: none;
    }

    .submenu:hover #carrito {
        min-width: 100px;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img{
        display: none;
    }

    .header-txt{
        flex-basis: none;
        text-align: center;
    }

    .header-txt h1{
        font-size: 70px;
    }


}

